body {
    background: rgb(40, 40, 93);
    background: linear-gradient(90deg, rgba(40, 40, 93, 1) 0%, rgba(23, 21, 41, 1) 100%);
    ;
}

/* Buttons */

button {
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 16px;
    min-width: 100px;
    min-height: 50px;
    box-shadow: none !important;
    border: none !important;
}