body {
    background: rgb(40, 40, 93);
    background: linear-gradient(90deg, rgba(40, 40, 93, 1) 0%, rgba(23, 21, 41, 1) 100%);
    ;
}

.body-test {
    width: 100vw;
}

/* P */

p {
    color: aliceblue;
    font-weight: 300;
}

/* Centering */

.center-this {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

/* Labels */

label {
    color: aliceblue;
    font-weight: 300;
}

/* Hero Section */

.hero-title {
    font-weight: 700;
}

.hero-content {
    font-family: Montserrat;
    font-weight: 400;
}

.hero-btn {
    color: aliceblue;
    font-family: 'Montserrat';
    font-weight: 400;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
}

.bottom-left {
    margin-left: 30px;
    margin-bottom: 45px;
    bottom: 0;
    left: 0;
}

/* Overiding bootstrap classes */
.search-btn {
    padding-left: 10px;
}

.bg-light {
    background-color: transparent !important;
}

.btn-outline-success {
    color: aliceblue;
    font-family: 'Montserrat';
    font-weight: 400;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 50px;
    min-width: 60px;
    min-height: 30px;
    box-shadow: none !important;
    border: none !important;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat';
    font-weight: 400;
    color: aliceblue;
}

.navbar-light .navbar-brand {
    color: aliceblue;
}

/* Anchor tags */

a {
    color: aliceblue;
    text-decoration: none !important;
    font-family: 'Montserrat';
}


/* H1 */

h1 {
    color: aliceblue;
    font-weight: 500;
    font-family: 'Monteserrat';
}

/* H2 */

h2 {
    color: aliceblue;
    font-weight: 400;
    font-family: 'Space Grotesk';
}

/* H3 */

h3 {
    color: aliceblue;
    font-weight: 300;
    font-family: 'Space Grotesk';
}

/* H4 */

h4 {
    color: aliceblue;
    font-weight: 300;
    font-family: 'Space Grotesk';
}

/* Base */

.hero-overlay {
    background: url("https://res.cloudinary.com/dsp78l5kf/image/upload/v1692275724/hero-image_pjxrds.svg") center center no-repeat;
    min-height: 100vh;
    object-fit: fill;
    background-size: cover;
}

.logo-title {
    font-family: 'Montserrat';
    font-weight: 900;
}

.nav-response {
    padding: 0 5px;
    transition: transform 0.3s;
}

.nav-response:hover {
    color: aliceblue !important;
    transform: scale(1.1);
}

.nav-link:hover {
    color: aliceblue !important;
}

.posts {
    width: 100%;
}

/* Index */

span {
    color: aliceblue;
}

.post-container {
    margin: 20px;
}

.post-title {
    max-width: 300px;
}

.post-container:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.post-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.pagination-text {
    font-family: Montserrat;
    font-weight: 500;
}

/* Post detail */

.post>p {
    color: aliceblue;
    font-weight: 300;
}

.comments-made {
    background-color: #8f00f0;
}

/* Sign in */

.sign-in {
    transition: transform 0.3s;
}

.sign-in:hover {
    color: aliceblue !important;
    transform: scale(1.1);
}

/* Sign out */

/* Please create acc / Sign in */

/* Upload */

/* Profile*/

.profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-counts {
    text-align: center;
}

.edit-btn {
    padding-top: 20px;
}


.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}

.hide {
    display: none;
}

.saved-artwork-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

/* Comments */

.comments-made {
    color: aliceblue;
    font-weight: 300;
    font-family: 'Space Grotesk';
}



/* Buttons */

button {
    color: aliceblue;
    font-family: 'Montserrat';
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 16px;
    min-width: 100px;
    min-height: 50px;
    box-shadow: none !important;
    border: none !important;
}

/* Footer */

.footer-container {
    padding: 20px 0;
}