body {
    background: rgb(40, 40, 93);
    background: linear-gradient(90deg, rgba(40, 40, 93, 1) 0%, rgba(23, 21, 41, 1) 100%);
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.modal-backdrop {
    display: none;
}

/* Pop ups */

.alert {
    display: none;
    padding: 15px;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    color: white;
    font-size: 16px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom styling for the close button in the Bootstrap alert */
.btn-close {
    color: aliceblue;
    font-size: 1.5rem;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Buttons */

button {
    color: aliceblue;
    font-family: 'Montserrat';
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 10px;
    box-shadow: none !important;
    border: none !important;
}

.btn {
    color: aliceblue;
    font-family: 'Montserrat';
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 10px;
    box-shadow: none !important;
    border: none !important;
}

.btn:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

/* P */

p {
    font-family: Montserrat;
    color: aliceblue;
    font-weight: 500;
}

/* Centering */

.center-this-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-this {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

/* Labels */

label {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 500;

}

/* Hero Section */

.hero-title {
    font-weight: 700;
}

.hero-content {
    font-family: Montserrat;
    font-weight: 400;
}

.hero-btn {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
}

.bottom-left {
    margin-left: 30px;
    margin-bottom: 45px;
    bottom: 0;
    left: 0;
    max-width: 90vw;
}

/* Overiding bootstrap classes */
.search-btn {
    padding-left: 10px;
}

.bg-light {
    background-color: transparent !important;
}

.btn-outline-success {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 50px;
    box-shadow: none !important;
    border: none !important;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Montserrat;
    font-weight: 400;
    color: aliceblue;
}

.navbar-light .navbar-brand {
    color: aliceblue;
}

/* Anchor tags */

a {
    color: aliceblue;
    text-decoration: none !important;
    font-family: Montserrat;
    transition: transform 0.3s;
    transform: scale(1.1);
}

a:hover {
    color: aliceblue;
    text-decoration: none !important;
}

/* H1 */

h1 {
    color: aliceblue;
    font-weight: 700;
    font-family: Montserrat;
}

/* H2 */

h2 {
    color: aliceblue;
    font-weight: 400;
    font-family: Montserrat;
}

/* H3 */

h3 {
    color: aliceblue;
    font-weight: 300;
    font-family: Montserrat;
}

/* H4 */

h4 {
    color: aliceblue;
    font-weight: 300;
    font-family: Montserrat;
}

/* Base */

.hero-overlay {
    background: url("https://res.cloudinary.com/dsp78l5kf/image/upload/v1692275724/hero-image_pjxrds.svg") center center no-repeat;
    min-height: 100vh;
    object-fit: fill;
    background-size: cover;
}

.logo-title {
    font-family: 'Montserrat';
    font-weight: 900;
}

.nav-response {
    padding: 0 5px;
    transition: transform 0.3s;
}

.nav-response:hover {
    color: aliceblue !important;
    transform: scale(1.1);
}

.nav-link:hover {
    color: aliceblue !important;
}

.posts {
    width: 100%;
}

/* Index */

.search-input {
    width: 120px;
}

span {
    color: aliceblue;
}

.post-container {
    margin: 20px;
}

.post-title {
    max-width: 300px;
}

.post-container:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.post-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.pagination-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
}

/* Post detail */

.arrow-icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 24px;
}

.post-detail-title {
    font-weight: 700;
}

.post-detail-author {
    font-weight: 400;
    transition: transform 0.3s;
}

.post-detail-author:hover {
    color: aliceblue !important;
    text-decoration: none !important;
    transform: scale(1.1);
}

.btn-container {
    padding-top: 10px;
}

.post-icon {
    font-size: 20px;
}

.post-detail-btn {
    padding: 15px;
}

.count {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
}

.post>h4 {
    font-family: Montserrat;
    font-weight: 200 !important;
}

.post>p {
    color: aliceblue;
    font-weight: 500;
}

.textarea {
    min-height: 30px;
    min-width: 40px;
}

.comment-btns {
    padding: 10px;
}

.comment-body {
    padding: 10px;
    background-color: #9900fd;
    border-radius: 10px;
}

.post-detail-image {
    max-height: 600px;
    border-radius: 10px;
}

/* Sign in */

.sign-in {
    transition: transform 0.3s;
}

.sign-in:hover {
    color: aliceblue !important;
    transform: scale(1.1);
}

/* Please create acc / Sign in / Sign out / Sign up */

.form-box {
    padding: 20px;
}

.sign-up {
    font-weight: 600;
    text-decoration: underline;
    transition: transform 0.3s !important;
}

.sign-up:hover {
    color: aliceblue;
    transform: scale(1.1) !important;
}

.signup>label {
    font-family: Montserrat;
    font-weight: 800;
}

/* Upload */

.form-container {
    padding: 20px;
}

/* Profile*/

.profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    padding: 10px 0;
}

.profile-btn-container {
    padding: 20px 0;
}

.profile-pic-btn {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    text-decoration: none !important;
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
}

.profile-pic-btn>a {
    text-decoration: none;
}

.profile-counts {
    text-align: center;
}

.profile-counts>p {
    font-family: Montserrat;
    font-weight: 600;
    font-size: large;
}

.edit-btn-container {
    padding-top: 20px;
}

.edit-btn {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    text-decoration: none !important;
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
}

.switch-container {
    padding: 10px 0;
}

.switch-btn-style {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 600;
    width: 120px;
    height: 50px;
    background: linear-gradient(90deg, rgba(216, 131, 244, 1) 0%, rgba(178, 74, 213, 1) 100%);
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
}

.switch-btn {
    padding: 10px;
}

.hide {
    display: none;
}

.saved-artwork-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.saved-artwork-link:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

/* Comments */

.comments-made {
    color: aliceblue;
    font-weight: 300;
    font-family: 'Space Grotesk';
}

/* Footer */

.footer-icon {
    padding: 0 10px;
}

.footer-icon:hover {
    color: aliceblue !important;
    transition: transform 0.3s;
    transform: scale(1.1);
}

.footer {
    padding: 25px 0;
    margin-top: auto;
    width: 100%;
    color: white;
    text-align: center;
}