{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.svg' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap"
        rel="stylesheet">
    <title>Tarraing</title>
</head>

<body>
    <!-- Nav element -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand logo-title nav-response" href="{% url 'home' %}">Tarraing</a>
        <lottie-player src="https://lottie.host/d396ebaa-0b4c-4c6f-b74b-fd94d1af90e7/HE5OuqqnpK.json"
            background="transparent" speed="1" style="width: 60px; height: 60px" direction="1" mode="normal" loop hover>
        </lottie-player>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-response">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item nav-response">
                    <a class="nav-link" href="{% url 'profile' username=request.user.username %}">Profile</a>
                </li>
                <li class="nav-item nav-response">
                    <a class="nav-link" href="{% url 'upload' %}">Upload</a>
                </li>
                <li class="nav-item nav-response">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item nav-response">
                    <a class="nav-link" href="{% url 'account_signup' %}">Login/Register</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_posts' %}">
                        {% csrf_token %}
                        <input type="text" name="q" placeholder="Search by title" class="search-input">
                        <div class="search-btn">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Posts Container -->
    <main class="posts">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer text-white">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="list-inline">
                    <li class="list-inline-item footer-icon"><a href="https://twitter.com/"><i
                                class="fab fa-twitter fa-2x"></i></a></li>
                    <li class="list-inline-item footer-icon"><a href="https://www.facebook.com/"><i
                                class="fab fa-facebook fa-2x"></i></a></li>
                    <li class="list-inline-item footer-icon"><a href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Script Links -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>

</html>