{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tarraing</title>
</head>

<body>

    <nav class="">
        <a class="" href="#">Tarraing</a>
        <ul class="navbar-nav">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="#">Brushes</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'profile' username=request.user.username %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'upload' %}">Upload</a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'account_signup' %}">Login/Register</a>
            </li>
            {% endif %}
            <li>
                <form method="get" action="{% url 'search_posts' %}">
                    {% csrf_token %}
                    {{ form.search_query }}
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav>


    <main class="brushes">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>