{% extends 'base.html' %}

{% block content %}
<h1>Edit Post</h1>
<form method="POST" action="{% url 'edit_post' post.slug %}">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" name="title" value="{{ post.title }}">

    <label for="content">Description</label>
    <textarea name="content">{{ post.content }}</textarea>

    <label for="artwork_image">Artwork Image:</label>
    <input type="file" name="artwork_image">
    {% if post.artwork_image %}
    <img src="{{ post.artwork_image.url }}" alt="{{ post.title }} Artwork Image">
    {% endif %}

    <button type="submit">{% if post.id %}Update{% else %}Post{% endif %}</button>
</form>

<form method="POST" action="{% url 'delete_post' post.slug %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
{% endblock %}