{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="text-center">Edit Post</h1>
            <form method="POST" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" class="btn button" value="Submit">
                </div>
            </form>
            <form method="POST" action="{% url 'delete_post' post.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-2 delete-form"
                    onclick="return confirmDelete()">Delete</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 center-this">
            <h1 class="text-center">Please create an account or login to view this content.</h1>
            <div class="text-center">
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}