{% extends 'base.html' %}

{% block content %}
<h1>Upload Brush</h1>
<form method="POST" action="{% url 'edit_post' post.slug %}">
    {% csrf_token %}
    <label for="title">Title:</label>
    {{ form.title.as_widget(attrs={'value': post.title}) }}

    <label for="content">Description</label>
    {{ form.content.as_widget(attrs={'value': post.content}) }}

    <label for="artwork_image">Artwork Image:</label>
    {{ form.artwork_image.as_widget(attrs={'value': post.artwork_image.url}) }}

    <button type="submit">{% if post.id %}Update{% else %}Post{% endif %}</button>

</form>
{% endblock %}