{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="hero-section">
    <div class="hero-image">
        <img src="{% static 'path_to_your_image.jpg' %}" alt="Digital Art">
    </div>
    <div class="hero-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Discover and Share Digital Art</h1>
                    <p>Join our community of digital artists and enthusiasts. Showcase your artwork, connect with fellow
                        creators, and explore a world of creativity.</p>
                    {% if user.is_authenticated %}
                    <button><a href="{% url 'random_post_redirect' %}">Surprise Me</a></button>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Get Started</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        {% for post in object_list %}
        <div class="mb-4">
            <a href="{% url 'post_detail' post.slug %}" class="">
                <div class="post-container">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post">
                        {% if post.artwork_image %}
                        <div>
                            <img src="{{ post.artwork_image.url }}" alt="{{ brush.name }} Brush Image"
                                class="post-image">
                        </div>
                        {% else %}
                        <div>
                            <img src="{% static 'static/temp_images/github.png' %}" alt="Placeholder Image"
                                class="post-image">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}