{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="">
    <div class="">

        <!-- Brush Entries Column -->
        <div class="">
            <div class="">
                <div class="">
                    {% for post in object_list %}
                    <div class="post">
                        <h2>{{ post.title }}</h2>
                        {% if post.brush_image %}
                        <img src="{{ post.brush_image.url }}" alt="{{ brush.name }} Brush Image">
                        {% else %}
                        <img src="{% static 'static/temp_images/github.png' %}" alt="Placeholder Image">
                        {% endif %}
                        <p>{{ post.content }}</p>
                    </div>
                    {% endfor %}
                </div>
                <!-- Pagination Links -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% endblock %}

            </div>