{% extends "base.html" %}

{% block content %}

<div class="">
    <div class="">

        <!-- Brush Entries Column -->
        <div class="">
            <div class="">
                <div class="post-list">
                    {% for post in object_list %}
                    <div class="post">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <div>

                    </div>
                </div>
            </div>

        </div>

        {%endblock%}