{% extends 'base.html' %}
{% load static %}
<script src="{% static 'static/script.js' %}"></script>

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">

    <div class="col-lg-7">
        <div class="post">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h2 class="post-detail-title">{{ post.title }}</h2>
            <h3><a href="{% url 'profile' username=post.author.username %}"
                    class="post-detail-author">{{ post.author }}</a></h3>

            <h4 class="created-date">{{ post.created_on }}</h4>
            <p class="content-post">{{ post.content }}</p>

            <div class="mt-4">
                {% if post.artwork_image %}
                <img src="{{ post.artwork_image.url }}" alt="{{ brush.name }} Brush Image"
                    class="img-fluid post-detail-image">
                {% else %}
                <img src="{% static 'static/temp_images/github.png' %}" alt="Placeholder Image" class="img-fluid">
                {% endif %}
            </div>

            <!-- Buttons -->
            <div class="row">
                {% if user.is_authenticated %}
                {% if has_saved_artwork %}
                <form method="post" action="{% url 'unsave_post' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="fas fa-bookmark"></i>
                        </a>
                    </div>
                </form>
                {% else %}
                <form method="post" action="{% url 'save_post' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="far fa-bookmark"></i>
                        </a>
                    </div>
                </form>
                {% endif %}
                {% endif %}
                {% if liked %}
                <form method="POST" action="{% url 'post_like' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="fas fa-heart"></i>
                        </a>
                    </div>
                </form>
                {% else %}
                <form method="POST" action="{% url 'post_like' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </form>
                {% endif %}
                <div class="post-detail-btn">
                    <a href="{% url 'download_artwork' post.slug %}" download>
                        <i class="fas fa-download"></i>
                    </a>
                </div>
                <div class="post-detail-btn">
                    <i class="fas fa-heart text-white"></i> <span class="text-white count">{{ post.likes.count }}</span>
                </div>
                <div class="post-detail-btn">
                    <i class="fas fa-comment text-white"></i> <span
                        class="text-white count">{{ post.comments.count }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 mt-4">
        <div class="comments">
            <h3>Comments:</h3>
            <div class="card-body">
                <form method="post" action="" class="mt-3">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
                {% for comment in comments %}
                <!-- Comment Display -->
                <div class="comments-made">
                    <div class="row mb-2">
                        <p class="col">{{ comment.name }}</p>
                        <p class="col text-right">{{ comment.created_on }}</p>
                    </div>
                    <p class="comment-body">{{ comment.body | linebreaks }}</p>

                    <!-- Edit and Delete Buttons -->
                    {% if user.is_authenticated and comment.name == user.username %}
                    <div class="row mt-3">
                        <div class="col">
                            <a href="{% url 'edit_comment' comment.id %}" class="mr-2">Edit</a>
                            <form method="POST" action="{% url 'delete_comment' comment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm mr-2"
                                    onclick="return confirmDelete()">Delete</button>
                            </form>
                            <a href="{% url 'report_comment' comment.post.id comment.post.slug comment.id %}">Report
                                Comment</a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 center-this">
            <h1 class="text-center">Please create an account or login to view this content.</h1>
            <div class="text-center">
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}