{% extends 'base.html' %}
{% load static %}
<script src="{% static 'static/script.js' %}"></script>

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="col-lg-7 mx-auto">
        <div class="post">
            <div class="text-right">
                <a href="{% url 'home' %}" class="ml-auto">
                    <i class="fas fa-arrow-left fa-2x btn"></i>
                </a>
            </div>
            <h2 class="post-detail-title">{{ post.title }}</h2>
            <h3><a href="{% url 'profile' username=post.author.username %}"
                    class="post-detail-author">{{ post.author }}</a></h3>

            <h4 class="created-date">{{ post.created_on }}</h4>
            <p class="content-post">{{ post.content }}</p>

            <div class="mt-4">
                {% if post.artwork_image %}
                <img src="{{ post.artwork_image.url }}" alt="{{ brush.name }} Brush Image"
                    class="img-fluid post-detail-image">
                {% else %}
                <img src="{% static 'static/temp_images/github.png' %}" alt="Placeholder Image" class="img-fluid">
                {% endif %}
            </div>

            <!-- Buttons -->
            <div class="row btn-container">
                {% if user.is_authenticated %}
                {% if has_saved_artwork %}
                <form method="post" action="{% url 'unsave_post' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="fas fa-bookmark post-icon"></i>
                        </a>
                    </div>
                </form>
                {% else %}
                <form method="post" action="{% url 'save_post' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="far fa-bookmark post-icon"></i>
                        </a>
                    </div>
                </form>
                {% endif %}
                {% endif %}
                {% if liked %}
                <form method="POST" action="{% url 'post_like' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="fas fa-heart post-icon"></i>
                        </a>
                    </div>
                </form>
                {% else %}
                <form method="POST" action="{% url 'post_like' post.slug %}">
                    {% csrf_token %}
                    <div class="post-detail-btn">
                        <a href="#" onclick="this.closest('form').submit(); return false;">
                            <i class="far fa-heart post-icon"></i>
                        </a>
                    </div>
                </form>
                {% endif %}
                <div class="post-detail-btn">
                    <a href="{% url 'download_artwork' post.slug %}" download>
                        <i class="fas fa-download post-icon"></i>
                    </a>
                </div>
                <div class="post-detail-btn">
                    <i class="fas fa-heart text-white post-icon"></i> <span
                        class="text-white count">{{ post.likes.count }}</span>
                </div>
                <div class="post-detail-btn">
                    <i class="fas fa-comment text-white post-icon"></i> <span
                        class="text-white count">{{ post.comments.count }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 mt-4 mx-auto">
        <div class="comments">
            <h3>Comments:</h3>
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="comment-success-alert"
                style="display: none;">
                Comment posted successfully!
                <button type="button" class="btn-close" aria-label="Close"
                    onclick="closeCommentSuccessAlert();"></button>
            </div>
            <div>
                <form method="post" action="" class="mt-3" onsubmit="handleCommentSubmission();">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
                {% for comment in comments %}
                <!-- Comment Display -->
                <div class="comments-made">
                    <div class="row mb-2">
                        <p class="col">{{ comment.name }}</p>
                        <p class="col text-right">{{ comment.created_on }}</p>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">{{ comment.body | linebreaks }}</p>
                    </div>

                    <!-- Edit and Delete Buttons -->
                    {% if user.is_authenticated and comment.name == user.username %}
                    <div class="row">
                        <div class="comment-btns">
                            <a href="{% url 'edit_comment' comment.id %}" class="btn btn-primary">Edit</a>
                        </div>
                        <form method="POST" action="{% url 'delete_comment' comment.id %}">
                            {% csrf_token %}
                            <div class="comment-btns">
                                <button type="submit" class="btn btn-danger"
                                    onclick="return confirmDelete()">Delete</button>
                            </div>
                        </form>
                        <div class="comment-btns">
                            <a href="{% url 'report_comment' comment.post.id comment.post.slug comment.id %}"
                                class="btn btn-primary">Report
                                Comment</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 center-this">
            <h1 class="text-center">Please create an account or login to view this content.</h1>
            <div class="text-center">
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}