{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="post">
    <h2>{{ post.title }}</h2>
    <h3>{{ post.author }}</h3>
    <h4>{{ post.created_on }}</h4>
    <p>{{ post.content }}</p>

    {% if post.brush_image %}
    <img src="{{ post.brush_image.url }}" alt="{{ brush.name }} Brush Image">
    {% else %}
    <img src="{% static 'static/temp_images/github.png' %}" alt="Placeholder Image">
    {% endif %}

    <h3>Brush File: <a href="{{ post.brush_file.url }}">{{ post.brush_file.name }}</a></h3>

    <div class="likes-comments">
        <h4>Likes: {{ post.likes.count }}</h4>
        <h4>Comments: {{ post.comments.count }}</h4>
    </div>

    {% if user.is_authenticated %}
    <form method="post" action="url 'like_post' post.id">
        <button type="submit">Like</button>
    </form>
    <form method="post" action="url 'comment_post' post.id">
        <textarea name="comment" rows="4" cols="50"></textarea>
        <button type="submit">Comment</button>
    </form>
    {% else %}
    <p>Please <a href="{% url 'account_signup' %}">login</a> to like and comment on this post.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <h3>Comments:</h3>
    <form method="post" action="">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit">Comment</button>
    </form>
    {% endif %}
</div>
{% endblock %}