{% extends "base.html" %}

{% block content %}

<h1>{{ profile.user.username }}'s Profile</h1>


{% if profile.profile_picture %}
<img src="{{ profile.profile_picture.url }}" alt="">
{% endif %}


<p>Likes: {{ total_likes_count }}</p>
<p>Posts: {{ profile.num_posts }}</p>
<p>Downloads: {{ profile.num_downloads }}</p>


<div class="">
    {% for post in user_posts %}
    <div class="">

        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>

        {% if post.brush_image %}
        <img src="{{ post.brush_image.url }}" alt="{{ post.title }} Brush Image">
        {% endif %}

        <h3>Brush File: <a href="{{ post.brush_file.url }}">{{ post.brush_file.name }}</a></h3>

        <p>Likes: {{ post.likes.count }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}