{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-4 text-center">
            <h1>{{ profile.user.username }}'s Profile</h1>
            <div class="d-flex align-items-center justify-content-center">
                <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s Profile Picture"
                    class="profile-picture">
            </div>
            <div class="d-flex justify-content-center mt-2">
                <a href="{% url 'upload_profile_picture' %}" class="btn btn-primary">Update Profile Picture</a>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center">
    <div class="profile-counts d-flex flex-row">
        <p class="mr-3">Likes: {{ total_likes_count }}</p>
        <p class="mr-3">Posts: {{ total_posts_count }}</p>
        <p>Downloads: {{ profile.num_downloads }}</p>
    </div>
</div>


<div class="row justify-content-center">
    <button id="post-btn">Posts</button>
    <button id="artwork-btn">Saved Artwork</button>
</div>


<div class="row" id="post-list">
    <div class="container">
        <div class="row justify-content-center">
            {% for post in user_posts %}
            <div class="mb-4">
                <a href="{% url 'post_detail' post.slug %}">
                    <div class="post-container">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <div class="post">
                            {% if post.artwork_image %}
                            <div>
                                <img src="{{ post.artwork_image.url }}" alt="{{ brush.name }} Brush Image"
                                    class="post-image">
                            </div>
                            {% else %}
                            <div>
                                <img src="{% static 'static/temp_images/github.png' %}" alt="Placeholder Image"
                                    class="post-image">
                            </div>
                            {% endif %}
                </a>
                <div class="edit-btn">
                    <a href="{% url 'edit_post' post.slug %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="row hide" id="saved-artwork-list">
    <div class="row">
        {% if saved_artworks %}
        {% for saved_artwork in saved_artworks %}
        <div>
            <div>
                <h1>{{ saved_artwork.post.title }}</h1>
                {% if saved_artwork.post.artwork_image %}
                <img src="{{ saved_artwork.post.artwork_image.url }}" alt="{{ saved_artwork.post.title }} Artwork Image"
                    class="saved-artwork-image">
                {% else %}
                <img src="{% static 'temp_images/github.png' %}" alt="Placeholder Image" class="img-fluid">
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Please create an account or login to view this content.</h1>
            <button><a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a></button>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}