{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="center-this form-container">
            {% if user.is_authenticated %}
            <h2 class="text-center">Upload Artwork</h2>
            <form method="POST" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" class="btn button" value="Submit">
                </div>
            </form>
            <div class="text-center">
                <p>Accepted file types: PNG, JPEG</p>
            </div>
            <div class="text-center">
                <p>Accepted file size: 1mb</p>
            </div>
            <div class="modal" id="error-modal" tabindex="-1" aria-labelledby="error-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="error-modal-label">Error</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Error message will be displayed here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 center-this">
                        <h1 class="text-center">Please create an account or login to view this content.</h1>
                        <div class="text-center">
                            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}