{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="center-this form-container">
            {% if user.is_authenticated %}
            <h2 class="text-center">Upload Artwork</h2>
            <form method="POST" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" class="btn button" value="Submit">
                </div>
            </form>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="warning-alert"
                style="display: none;">
                File size exceeds 1MB. Please choose a smaller file.
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 center-this">
                        <h1 class="text-center">Please create an account or login to view this content.</h1>
                        <div class="text-center">
                            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}